@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <img src="img/empleados.jpg" class="img-fluid" />
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende más de ello <a href="https://docs.microsoft.com/aspnet/core">Aplicación construida en ASP.NET Core</a>.</p>
</div>
